<div class="individual-movie-container">
    <a href="@movieURL">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieURL">@Movie.TitleBrief</a></p>

    @* Функция редактора и удаления кино для администратора *@
    <div>
        <a class="btn btn-info" href="/movies/edit/@Movie.Id">Изменить</a>
        <button type="button" class="btn btn-danger"
                @onclick="(()=>DeleteMovie.InvokeAsync(Movie))">
            Удалить
        </button>
    </div>
</div>

@code
{
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
    private string movieURL = string.Empty;

    protected override void OnInitialized()
    {
        movieURL = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
